{# table forked from https://tailwindui.com/preview #}
{% extends 'base.html.twig' %}

{% block title %}Customer index{% endblock %}

{% block body %}
    {% set customerToDeleteId = null %}
    <!-- Page title & actions -->
    <div class="px-4 py-4 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8">
        <div class="flex-1 flex">
            <form class="w-full flex lg:ml-0" action="#" method="GET">
                <label for="search_field" class="sr-only">Search</label>
                <div class="relative w-full text-gray-400 focus-within:text-gray-600">
                    <div class="absolute inset-y-0 left-0 flex items-center pointer-events-none">
                        <!-- Heroicon name: search -->
                        <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                        </svg>
                    </div>
                    <input id="search_field" class="block w-full h-full pl-8 pr-3 py-2 border-transparent text-gray-900 placeholder-gray-500 focus:outline-none focus:placeholder-gray-400 focus:ring-0 focus:border-transparent sm:text-sm" placeholder="Search" type="search" name="search">
                </div>
                <div class="mt-4 flex sm:mt-0 sm:ml-4">
                    <button type="submit" class="order-1 ml-3 inline-flex items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500 sm:order-0 sm:ml-0">
                        Search
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- Customer list (only on smallest breakpoint) -->
    <div class="sm:hidden">
        <div class="px-4 sm:px-6">
            <h2 class="text-gray-500 text-xs font-medium uppercase tracking-wide">
              Clients
            </h2>
        </div>
        <ul class="mt-3 border-t border-gray-200 divide-y divide-gray-100">
        {% for customer in customers %}
            <li>
                <a href="{{ path('customer_show', {'id': customer.id}) }}" class="group flex items-center justify-between px-4 py-4 hover:bg-gray-50 sm:px-6">
                    <span class="flex items-center truncate space-x-3">
                        <span class="font-medium truncate text-sm leading-6">
                            {{ customer.pseudo }}
                        </span>
                    </span>
                    <!-- Heroicon name: chevron-right -->
                    <svg class="ml-4 h-5 w-5 text-gray-400 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                    </svg>
                </a>
            </li>
        {% else %}
            <tr>
                <td colspan="3" class="py-4 px-4 text-sm text-gray-500">no records found</td>
            </tr>
        {% endfor %}
        </ul>
    </div>

    <!-- Customer table (small breakpoint and up) -->
    <div class="hidden sm:block">
        <div class="align-middle inline-block min-w-full border-b border-gray-200">
            <table class="min-w-full">
                <thead>
                    <tr class="border-t border-gray-200">
                        <th class="{% if customers.isSorted('pseudo') %} text-gray-900{% endif %}">
                            {{ knp_pagination_sortable(customers, 'Pseudo', 'pseudo') }}
                        </th>
                        <th class="{% if customers.isSorted('transactionsCount') %} text-gray-900 {% endif %}">
                            {{ knp_pagination_sortable(customers, 'Ventes', 'transactionsCount') }}
                        </th>
                        <th>
                            {{ knp_pagination_sortable(customers, 'Profit', 'profit') }}
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-100">
                    {% for customer in customers %}
                        <tr>
                            <td class="text-left">{{ customer.pseudo }}</td>
                            <td class="text-left">{{ customer.transactionsCount }}</td>
                            <td class="text-left">{{ customer.profit }}€</td>
                            <td class="px-6 py-4 flex justify-end">
                                <div x-data="{ open: false }">
                                    <button @click="open = true" class="btn-gray" id="options-menu" aria-haspopup="true" aria-expanded="true">
                                        Actions
                                    </button>

                                    <div x-show.transition="open" @click.away="open = false" class="dropdown-wrapper" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
                                        <div class="py-1">
                                            <a href="{{ path('customer_show', {'id': customer.id}) }}" class="dropdown-item" role="menuitem">
                                                <svg class="dropdown-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">#}
                                                    <path d="M7 9a2 2 0 012-2h6a2 2 0 012 2v6a2 2 0 01-2 2H9a2 2 0 01-2-2V9z" />
                                                    <path d="M5 3a2 2 0 00-2 2v6a2 2 0 002 2V5h8a2 2 0 00-2-2H5z" />
                                                </svg>
                                                Details
                                            </a>
                                            <a href="{{ path('customer_edit', {'id': customer.id}) }}" class="dropdown-item" role="menuitem">
                                                <!-- Heroicon name: pencil-alt -->
                                                <svg class="dropdown-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                    <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
                                                    <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd" />
                                                </svg>
                                                Editer
                                            </a>
                                        </div>
                                        <div class="py-1">
                                            <a href="{{ path('customer_delete', {'id': customer.id}) }}" class="dropdown-item cursor-pointer" role="menuitem">
                                                <!-- Heroicon name: trash -->
                                                <svg class="dropdown-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                    <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />
                                                </svg>
                                                Supprimer
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">no records found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- Pagination https://github.com/KnpLabs/KnpPaginatorBundle -->
        <nav class="mx-6 mb-4 flex items-center justify-between sm:px-0">
            {% if currentPageNumber > 1 %}
                <div class="-mt-px w-0 flex-1 flex">
                    <a href="{{ path('customer_index', {'page': currentPageNumber - 1 }) }}" class="border-t-2 border-transparent pt-4 pr-1 inline-flex items-center text-sm font-medium text-gray-500 hover:text-gray-700 hover:border-gray-300">
                        <!-- Heroicon name: arrow-narrow-left -->
                        <svg class="mr-3 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd" />
                        </svg>
                        Previous
                    </a>
                </div>
            {% endif %}
            <div class="hidden md:-mt-px md:flex">
            </div>
            {% if currentPageNumber < numberOfPages %}
                <div class="-mt-px w-0 flex-1 flex justify-end">
                    <a href="{{ path('customer_index', {'page': currentPageNumber + 1 }) }}" class="border-t-2 border-transparent pt-4 pl-1 inline-flex items-center text-sm font-medium text-gray-500 hover:text-gray-700 hover:border-gray-300">
                        Next
                        <!-- Heroicon name: arrow-narrow-right -->
                        <svg class="ml-3 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                        </svg>
                    </a>
                </div>
            {% endif %}
        </nav>
    </div>
{% endblock %}
