{# table forked from https://tailwindui.com/preview #}
{% extends 'base.html.twig' %}

{% block title %}Customer index{% endblock %}

{% block body %}
<!-- Projects list (only on smallest breakpoint) -->
<div class="sm:hidden">
    <div class="px-4 sm:px-6">
        <h2 class="text-gray-500 text-xs font-medium uppercase tracking-wide">
          Clients
        </h2>
    </div>
    <ul class="mt-3 border-t border-gray-200 divide-y divide-gray-100">
        {% for customer in customers %}
            <li>
                <a href="#" class="group flex items-center justify-between px-4 py-4 hover:bg-gray-50 sm:px-6">
                    <span class="flex items-center truncate space-x-3">
                    <span class="w-2.5 h-2.5 flex-shrink-0 rounded-full bg-pink-600" aria-hidden="true"></span>
                    <span class="font-medium truncate text-sm leading-6">
                        {{ customer.firstname }} {{ customer.lastname }}
                        <span class="truncate font-normal text-gray-500">in Engineering</span>
                    </span>
                    </span>
                    <!-- Heroicon name: chevron-right -->
                    <svg class="ml-4 h-5 w-5 text-gray-400 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                    </svg>
                </a>
            </li>
        {% else %}
            <tr>
                <td colspan="3" class="py-4 px-4 text-sm text-gray-500">no records found</td>
            </tr>
        {% endfor %}
    </ul>
</div>

<!-- Projects table (small breakpoint and up) -->
<div class="hidden sm:block">
    <div class="align-middle inline-block min-w-full border-b border-gray-200">
        <table class="min-w-full">
            <thead>
                <tr class="border-t border-gray-200">
                    <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Nom
                    </th>
                    <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Prenom
                    </th>
                    <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Pseudo
                    </th>
                    <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Adresse
                    </th>
                    <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Show
                    </th>
                    <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Edit
                    </th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-100">
                {% for customer in customers %}
                    <tr>
                        <td class="md:table-cell px-6 py-3 whitespace-nowrap text-sm text-gray-500 text-left">
                            {{ customer.firstname }}
                        </td>
                        <td class="md:table-cell px-6 py-3 whitespace-nowrap text-sm text-gray-500 text-left">
                            {{ customer.lastname }}
                        </td>
                        <td class="md:table-cell px-6 py-3 whitespace-nowrap text-sm text-gray-500 text-left">
                            {{ customer.pseudo }}
                        </td>
                        <td class="md:table-cell px-6 py-3 whitespace-nowrap text-sm text-gray-500 text-left">
                            <div>{{ customer.adress }}</div>
                            <div>{{ customer.postCode }} {{ customer.city }}</div>
                        </td>
                        <td class="md:table-cell px-6 py-3 whitespace-nowrap text-sm text-gray-500 text-center">
                            <a href="{{ path('customer_show', {'id': customer.id}) }}">
                                <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 64 64" width="32px" height="32px">
                                    <path fill="#c5e4fa" d="M1 13H55V53H1z"/><path fill="#e3f2ff" d="M34.11 53L55 32.11 55 14 52.21 14 13.21 53 34.11 53zM1.29 53L9.64 53 48.64 14 40.29 14 1.29 53zM1 49.71L36.71 14 32.75 14 1 45.75 1 49.71z"/>
                                    <rect width="54" height="6" x="1" y="7" fill="#acb7d0" rx="2" ry="2"/>
                                    <path fill="#fff" d="M34,48.27a2,2,0,0,1,0-2.54C36.17,43,41.78,37,48,37s11.83,6,14,8.73a2,2,0,0,1,0,2.54C59.83,51,54.22,57,48,57S36.17,51,34,48.27Z"/>
                                    <path fill="#faefde" d="M34,48.27a2,2,0,0,1,0-2.54C36.17,43,41.78,37,48,37s11.83,6,14,8.73a2,2,0,0,1,0,2.54C59.83,51,54.22,57,48,57S36.17,51,34,48.27Z"/>
                                    <path fill="#fff7f0" d="M62,46.56l0-.06S56.84,37,48,37s-14,9.5-14,9.5l0,.06A70.73,70.73,0,0,0,48,48,70.73,70.73,0,0,0,62,46.56Z"/>
                                    <path fill="#85cbf8" d="M48 42A5 5 0 1 0 48 52A5 5 0 1 0 48 42Z"/>
                                    <path fill="#8d6c9f" d="M15 46a1 1 0 0 0-1 1v2a1 1 0 0 0 2 0V47A1 1 0 0 0 15 46zM10 46a1 1 0 0 0-1 1v2a1 1 0 0 0 2 0V47A1 1 0 0 0 10 46zM5 46a1 1 0 0 0-1 1v2a1 1 0 0 0 2 0V47A1 1 0 0 0 5 46zM20 46a1 1 0 0 0-1 1v2a1 1 0 0 0 2 0V47A1 1 0 0 0 20 46zM25 46a1 1 0 0 0-1 1v2a1 1 0 0 0 2 0V47A1 1 0 0 0 25 46zM30 46a1 1 0 0 0-1 1v2a1 1 0 0 0 2 0V47A1 1 0 0 0 30 46zM19 22h4a1 1 0 0 0 0-2H19a1 1 0 0 0 0 2zM27 22H44a1 1 0 0 0 0-2H27a1 1 0 0 0 0 2zM19 30H44a1 1 0 0 0 0-2H19a1 1 0 0 0 0 2zM34 38a1 1 0 0 0 0-2H19a1 1 0 0 0 0 2zM14.29 18.29L11 21.59 9.71 20.29a1 1 0 0 0-1.41 1.41l2 2a1 1 0 0 0 1.41 0l4-4a1 1 0 0 0-1.41-1.41zM14.29 26.29L11 29.59 9.71 28.29a1 1 0 0 0-1.41 1.41l2 2a1 1 0 0 0 1.41 0l4-4a1 1 0 0 0-1.41-1.41zM14.29 34.29L11 37.59 9.71 36.29a1 1 0 0 0-1.41 1.41l2 2a1 1 0 0 0 1.41 0l4-4a1 1 0 0 0-1.41-1.41z"/><path fill="#8d6c9f" d="M62.8,45.1A32.49,32.49,0,0,0,56,38.77V9a3,3,0,0,0-3-3H3A3,3,0,0,0,0,9V51a3,3,0,0,0,3,3H38.32C41,56.14,44.39,58,48,58c6.67,0,12.57-6.36,14.8-9.1A3,3,0,0,0,62.8,45.1ZM2,9A1,1,0,0,1,3,8H53a1,1,0,0,1,1,1v3H2ZM3,52a1,1,0,0,1-1-1V14H54V37.59A13.13,13.13,0,0,0,48,36c-6.67,0-12.57,6.36-14.8,9.1a3,3,0,0,0,0,3.8A36,36,0,0,0,36,52Zm58.25-4.36C59.2,50.15,53.81,56,48,56a12.58,12.58,0,0,1-6.74-2.32A23.77,23.77,0,0,1,39,52a34.23,34.23,0,0,1-4.27-4.36,1,1,0,0,1,0-1.28C36.8,43.85,42.19,38,48,38s11.2,5.85,13.25,8.36A1,1,0,0,1,61.25,47.64Z"/>
                                    <path fill="#8d6c9f" d="M48,41a6,6,0,1,0,6,6A6,6,0,0,0,48,41Zm0,10a4,4,0,1,1,4-4A4,4,0,0,1,48,51Z"/>
                                </svg>
                            </a>
                        </td>
                        <td class="md:table-cell px-6 py-3 whitespace-nowrap text-sm text-gray-500 text-center">
                            <a href="{{ path('customer_edit', {'id': customer.id}) }}">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="32px" height="32px">
                                    <path fill="#c5e4fa" d="M45 53L1 53 1 13 55 13 55 43 45 53z"/>
                                    <path fill="#e3f2ff" d="M34.11 53L55 32.11 55 14 52.21 14 13.21 53 34.11 53zM1.29 53L9.64 53 48.64 14 40.29 14 1.29 53zM1 49.71L36.71 14 32.75 14 1 45.75 1 49.71z"/>
                                    <rect width="54" height="6" x="1" y="7" fill="#acb7d0" rx="2" ry="2"/>
                                    <path fill="#f9e3ae" d="M36.45 34.55H50.59V54.41H36.45z" transform="rotate(45 43.526 44.48)"/>
                                    <path fill="#f6d397" d="M40.88 36.5H50.07V55.53H40.88z" transform="rotate(45 45.479 46.018)"/>
                                    <path fill="#ed7899" d="M52.22,27.88h8.1a3,3,0,0,1,3,3v4.77a0,0,0,0,1,0,0H49.22a0,0,0,0,1,0,0V30.88a3,3,0,0,1,3-3Z" transform="rotate(45 56.275 31.76)"/>
                                    <path fill="#c2cde7" d="M44.91 33.87H59.05V38.169999999999995H44.91z" transform="rotate(45 51.971 36.017)"/>
                                    <path fill="#faefde" d="M30 55.64L30.79 47 36.29 47.79 37.07 50.14 39.36 51.32 41 57.21 31.57 57.21 30 55.64z"/>
                                    <path fill="#8d6c9f" d="M16 46a1 1 0 0 0-1 1v2a1 1 0 0 0 2 0V47A1 1 0 0 0 16 46zM11 46a1 1 0 0 0-1 1v2a1 1 0 0 0 2 0V47A1 1 0 0 0 11 46zM6 46a1 1 0 0 0-1 1v2a1 1 0 0 0 2 0V47A1 1 0 0 0 6 46zM21 46a1 1 0 0 0-1 1v2a1 1 0 0 0 2 0V47A1 1 0 0 0 21 46zM26 46a1 1 0 0 0-1 1v2a1 1 0 0 0 2 0V47A1 1 0 0 0 26 46zM19 22h4a1 1 0 0 0 0-2H19a1 1 0 0 0 0 2zM27 22H43a1 1 0 0 0 0-2H27a1 1 0 0 0 0 2zM19 30H43a1 1 0 0 0 0-2H19a1 1 0 0 0 0 2zM32 37a1 1 0 0 0-1-1H19a1 1 0 0 0 0 2H31A1 1 0 0 0 32 37zM10.29 23.71a1 1 0 0 0 1.41 0l4-4a1 1 0 0 0-1.41-1.41L11 21.59 9.71 20.29a1 1 0 0 0-1.41 1.41zM10.29 31.71a1 1 0 0 0 1.41 0l4-4a1 1 0 0 0-1.41-1.41L11 29.59 9.71 28.29a1 1 0 0 0-1.41 1.41zM11 40a1 1 0 0 0 .71-.29l4-4a1 1 0 0 0-1.41-1.41L11 37.59 9.71 36.29a1 1 0 0 0-1.41 1.41l2 2A1 1 0 0 0 11 40z"/><path fill="#8d6c9f" d="M59.71,39.61h0l2.83-2.83a5,5,0,0,0,0-7.07l-4.24-4.24A4.94,4.94,0,0,0,56,24.18V9a3,3,0,0,0-3-3H3A3,3,0,0,0,0,9V51a3,3,0,0,0,3,3H29.4l-.58,4a1,1,0,0,0,1,1.14H30l4.92-.7,6.39-.68a1,1,0,0,0,.6-.29Zm-3.78,1-8.48-8.48,1.65-1.66,8.48,8.48Zm.95-13.68,4.24,4.24a3,3,0,0,1,0,4.24L59,37.49,50.51,29l.05-.05h0l2.07-2.07A3,3,0,0,1,56.88,26.88ZM2,9A1,1,0,0,1,3,8H53a1,1,0,0,1,1,1v3H2ZM30.27,46.78,29.66,52H3a1,1,0,0,1-1-1V14H54V24.08a5,5,0,0,0-2.78,1.39l-2.83,2.83h0l-3,3,0,0,0,0L30.55,46.19A1,1,0,0,0,30.27,46.78Zm4.87,9.65-3.56-3.56L32.14,48l4.46.47v1.93a1,1,0,0,0,1,1h1.93L40,55.92Zm6.73-1.76-.45-4.37a1,1,0,0,0-1-.9H38.59V48L44,42.63a1,1,0,0,0-1.41-1.41l-5.32,5.32-3.79-.4L46,33.49,54.52,42l-.07.07a1,1,0,0,0-.27.27Z"/>
                                </svg>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3" class="py-4 px-4 text-sm text-gray-500">no records found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
